@define-color widget_border rgba(255, 255, 255, 0.3);
@define-color widget_background rgba(0, 0, 0, 0.8);

.ws {
  background: transparent;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0px;
}

.active {
  opacity: 1;
  box-shadow: inset 0px -8px 5px -7px rgba(255, 255, 255, 0.7);
}

.passive {
  opacity: 0.5;
}

.active_window_title {
  margin-left: 0.5rem;
}

.active_window {
  margin-left: 1rem;
}

.indicator_label {
  margin-left: 0.3rem;
  min-width: 2.55rem;
}

.system {
  margin: 0rem 0.5rem;
  border: none;
  background: transparent;
}

.system>*,
.quicksettings_toggle>*>* {
  margin: 0rem 0.3rem;
}


.quicksettings {
  min-width: 20rem;
  padding: 1rem 1rem 1rem 1.5rem;
  background: @widget_background;
  border: 1px solid @widget_border;
  border-radius: 0.5rem;
}

.quicksettings_toggle {
  background: transparent;
  border: none;
  margin: 0rem;
}

.system_tray>* {
  background: transparent;
  border: none;
  padding: 0px;
}

.empty {
  margin: 0px;
}

.session_buttons {
  margin-right: 1rem;
}

.session_button {
  margin: 0rem 0.5rem;
  background: transparent;
  border: 1px solid @widget_border;
  border-radius: 50%;
  padding: 0.7rem 1rem;
}

.session_button:hover {
  box-shadow: inset 0px 0px 5px white;
}

.bar {
  background: @widget_background;
  border-bottom: 1px solid @widget_border;
}
