@define-color widget_border rgba(255, 255, 255, 0.3);
@define-color widget_background rgba(0, 0, 0, 0.7);

.ws {
  background: transparent;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0px;
}

.active {
  opacity: 1;
  box-shadow: inset 0px -13px 2px -10px rgba(255, 255, 255, 0.7);
}

.passive {
  opacity: 0.5;
}

.active_window_title {
  margin-left: 0.5rem;
}

.active_window {
  margin-left: 1rem;
}

.indicator_label {
  margin-left: 0.4rem;
  min-width: 2.55rem;
}

.indicator_label_battery {
  margin-left: 0.1rem;
}

.altered {
  background: red;
}

.system {
  margin: 0rem 0.5rem;
  border: none;
  background: transparent;
}

.separator {
  margin: 0rem 0.3rem;
}

.quicksettings_toggle {
  margin: 0px;
  border-radius: 0px;
}

.visible {
  opacity: 1;
  transition: all 0.15s;
}

.hidden {
  opacity: 0;
  transition: all 0.15s;
}

.quicksettings,
.osd,
.applauncher {
  /* animation: emerge 0.3s; */
  min-width: 20rem;
  padding: 1rem 1rem 1rem 1.5rem;
  background: @widget_background;
  border: 1px solid @widget_border;
  border-radius: 0.5rem;
}

.applauncher {
  min-width: 20rem;
  min-height: 30rem;
  padding: 1rem;
}

.search_entry {
  margin-bottom: 1rem;
}

.osd {
  padding: 1rem 1.2rem 1rem 1rem;
}

.window_widget {
  border-radius: 0.5rem;
}

.app_item {
  background: transparent;
  border: none;
  padding: 0.2rem 0rem;
}

.app_icon {
  margin-right: 1rem;
}

.osd-progress {
  margin: 5px 0px;
  padding: 0px;
}

.quicksettings_toggle {
  background: transparent;
  border: none;
  margin: 0rem;
}

.system_tray>* {
  background: transparent;
  border: none;
  padding: 0px;
}

.empty {
  margin: 0px;
}

.session_buttons {
  /* margin-right: 1rem; */
  margin: 0.5rem 1rem 0.5rem 0rem;
}

.session_button {
  /* margin: 0rem 0.5rem; */
  background: transparent;
  border: 1px solid @widget_border;
  border-radius: 50%;
  padding: 0.7rem 1rem;
}

.session_button:hover {
  box-shadow: inset 0px 0px 5px white;
}

.bar {
  background: @widget_background;
  border-bottom: 1px solid @widget_border;
}
